*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#full-page{
   /* border: 1px solid black; */
   width: 100%;
   height: 600px;
}

#navbar{
    border: 1px solid black;
    width: 90%;
    margin: auto;
    height: 80px;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

#navbar-left{
    /* border: 1px solid black; */
    width: 20%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: left;

}

#navbar-left-logo{
    /* border: 1px solid black; */
    width: 20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#navbar-left-logo img{
    width: 50px;
    height: 35px;
}

#navbar-left-searchbar{
    border: 1px solid black;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: flex;
}

#navbar-left-searchbar i{
    border: 1px solid black;
    height: 35px;
    width: 35px;
    text-align: center;
    padding-top: 10px;
    border: none;
    outline: none;
}

#navbar-left-searchbar input{
    border: 1px solid black;
    height: 35px;
    width: 80%;
    text-align: left;
    padding-left: 5px;
    border: none;
    outline: none;
}

@media screen and (max-width:600px) {
    #navbar-left-logo{
        /* border: 1px solid black; */
        width: 20%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #navbar-left-logo img{
        width: 31px;
        height: 31px;
    }
    
    #navbar-left-searchbar{
        /* border: 1px solid black; */
        width: 60%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
        border: none;
        outline: none;
    }
    
    #navbar-left-searchbar i{
        /* border: 1px solid black; */
        height: 35px;
        width: 35px;
        text-align: center;
        padding-top: 7px;
        border: none;
        outline: none;
    }
    
    #navbar-left-searchbar input{
        display: none;
    }   
}

#navbar-right{
    /* border: 1px solid black; */
    width: 70%;
    height: 60px;
    margin-top: 10px;
}

#navbar-right-item{
    /* border: 1px solid black; */
    width: 70%;
    margin: auto;
    height: 40px;
    margin-top: 10px; 
    display: flex;
    justify-content: space-between;

}

#navbar-right-item > div:nth-child(1) > i{
   padding-left: 10px;
}

#navbar-right-item > div:nth-child(2) > i{
    padding-left: 15px;
}

#navbar-right-item > div:nth-child(3) > i{
    padding-left: 5px;
}

#navbar-right-item > div:nth-child(4) > i{
    padding-left: 26px;
}

#navbar-right-item > div:nth-child(5) > i{
    padding-left: 30px;
}

#navbar-right-item > div:nth-child(6) > i{
    padding-left: 15px;
}

#navbar-right-item > div:nth-child(8) > i{
    padding-left: 13px;
}

@media screen and (max-width:600px) {
    #navbar-right{
        /* border: 1px solid black; */
        width: 70%;
        height: 60px;
        margin-top: 10px;
    }
    
    #navbar-right-item{
        /* border: 1px solid black; */
        width: 100%;
        margin: auto;
        height: 40px;
        margin-top: 10px; 
        display: flex;
        justify-content: space-between;   
    }

    #navbar-right-item p{
        display: none;
    }  
    
    #navbar-right-item > div:nth-child(1) > i{
       padding-left: 10px;
       margin-top: 5px;
    }
        
    #navbar-right-item > div:nth-child(2) > i{
        padding-left: 15px;
        margin-right: 10px;
        margin-top: 5px;
    }
       
    #navbar-right-item > div:nth-child(3) > i{
        padding-left: 5px;
        margin-right: -8px;
        margin-top: 5px;
    }
     
    #navbar-right-item > div:nth-child(4) > i{
        padding-left: 26px;
        margin-right: -12px;
        margin-top: 5px;
    }
    
    #navbar-right-item > div:nth-child(5) > i{
        padding-left: 30px;
        margin-right: 2px;
        margin-top: 5px;
    }
      
    #navbar-right-item > div:nth-child(6) > i{
        padding-left: 15px;
        margin-right: 12px;
        margin-top: 5px;
    }
       
    #navbar-right-item > div:nth-child(8) > i{
        margin-right: 7px;
        margin-top: 5px;
    }
      
}

#body{
    /* border: 1px solid black;  */
    width: 90%;
    margin: auto;
    margin-top: 30px;
    height: 450px;
    display: flex;
    justify-content: space-between;
}

#body-left{
    /* border: 1px solid black; */
    width: 20%;
    height: 450px;
    background-color: rgb(197, 186, 186);
}


#body-left-item1{
    border: 1px solid black;
    border-bottom: 1px solid black;
    height: 150px;
    width: 100%;
    border: none;
    outline: none;
}

#body-left-item1 > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    justify-content: center;
}

#body-left-item1 > div:nth-child(1) > div:nth-child(1) div{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 15px;
    overflow: hidden;
}

#body-left-items div:nth-child(1) > div:nth-child(1) > div > img{
   width: 100%;
   height: 100%;
}

#body-left-item1 h5{
   font-size: 20px;
   text-align: center;
}

#body-left-item1 p{
 text-align: center;
}

#body-left-item2{
    border: 1px solid black;
    border-bottom: 1px solid black;
    height: 100px;
    width: 100%
}

#body-left-item2 h2{
   text-align: center;
   margin-top: 20px;
}

#body-left-item2 p{
    text-align: center;
    margin-top: 10px;
}

#body-left-item3{
    border: 1px solid black;
    /* border-bottom: 1px solid black; */
    height: 100px;
    width: 100%
}

#body-left-item3 h3{
   text-align: center;
   margin-top: 20px;
}

#body-left-item4{
    border: 1px solid black;
    height: 100px;
    width: 100%
}

#body-left-item4 h1{
    text-align: center;
}

#body-mid{
    /* border: 1px solid black; */
    width: 40%;
    height: 450px;
    
}

#body-mid > div:nth-child(1){
    /* border: 1px solid black;  */
    width: 100%;
    height: 150px;
    background-color: rgb(197, 186, 186);
    border: none;
    outline: none;
}

#body-mid > div:nth-child(1) > div:nth-child(1){
    display: flex;
    justify-content: left;
}

#body-mid > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
   /* border: 1px solid black; */
   width: 60px;
   height: 60px;
   margin-top: 20px;
   border-radius: 30px;
   margin-left: 20px;
   overflow: hidden;
} 

#body-mid > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) img{
    width: 100%;
    height: 100%;
}

#body-mid > div:nth-child(1) > div:nth-child(1) > div:nth-child(2){
    border: 1px solid black;
    width: 70%;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50px;
}

#body-mid > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) button{
width: 20%;
height: 50px;
margin-top: 3px;
margin-left: 20px;
border-radius: 100px;
border: none;
outline: none;
}

#body-mid-item{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#body-mid-item1{
    display: flex;
}

#body-mid-item2{
    display: flex;
}

#body-mid-item3{
    display: flex;
}

#body-mid-item4{
    display: flex;
}

#body-mid > div:nth-child(2){
    /* border: 1px solid black; */
    margin-top: 10px;
    width: 100%;
    height: 290px;
    background-color: rgb(197, 186, 186);
    border: none;
    outline: none;
}

#body-mid > div:nth-child(2) > div:nth-child(1)  {
    /* border: 1px solid black; */
    width: 100%;
    height: 50px;
}

#body-mid > div:nth-child(2) > div:nth-child(1) h4{
    font-size: 20px;
    margin-top: 10px;
}


#body-mid > div:nth-child(2) > div:nth-child(2)  {
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    height: 200px;
}


#body-mid > div:nth-child(2) > div:nth-child(2) img {
 width: 100%;
 height: 100%;   
}

#body-right{
    border: 1px solid black;
    width: 20%;
    height: 450px;
}

@media screen and (max-width:600px) {

    #body{
        /* border: 1px solid black; */
        width: 90%;
        margin: auto;
        margin-top: 30px;
        height: 450px;
        display: flex;
        flex-direction: column;
    }
    
    #body-left{
        /* border: 1px solid black; */
        width: 90%;
        margin: auto;
        height: 100px;
        margin-top: 20px;
    }

    
#body-left-item1{
    /* border: 1px solid black; */
    border-bottom: 1px solid black;
    height: 150px;
    width: 100%;
    border: none;
    outline: none;
}

#body-left-item1 > div:nth-child(1) > div:nth-child(1) {
    display: flex;
    justify-content: center;
}

#body-left-item1 > div:nth-child(1) > div:nth-child(1) div{
    border: 1px solid black;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    margin: 15px;
    overflow: hidden;
}

#body-left-items div:nth-child(1) > div:nth-child(1) > div > img{
   width: 100%;
   height: 100%;
}

#body-left-item1 h5{
   font-size: 20px;
   text-align: center;
}

#body-left-item1 p{
 text-align: center;
}
    
    #body-left-item2{
        display: none;
    }

    
    #body-left-item3{
        display: none;
    }

    
    #body-left-item4{
        display: none;
    }

    #body-mid{
        border: 1px solid black;
        width: 90%;
        margin: auto;
        height: 180px;
        margin-top: 30px;
        border: none;
        outline: none;
    }
    
    #body-mid > div:nth-child(1){
        border: 1px solid black; 
        width: 100%;
        height: 150px;
        border: none;
        outline: none;
    }
    
    
    #body-right{
        border: 1px solid black;
        width: 90%;
        margin: auto;
        height: 100px;
        margin-top: 20px;
    }

    #body-right{
        display: none;
    }
}